In [1]:
!pip install Faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Faker
  Downloading Faker-15.3.3-py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 26.8 MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.1 in /usr/local/lib/python3.7/dist-packages (from Faker) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-15.3.3

In [2]:
import pandas as pd
import numpy as np
from faker import Faker
from faker.providers import DynamicProvider
from pandas.core.api import DataFrame

In [4]:
fake = Faker()

In [5]:
#fake = Faker("es-MX") #cambiar idioma de registros
hora_trabajo = DynamicProvider(provider_name="Tiempo_trabajo",elements=["Dia","Tarde","Noche"])
tipo_sexo = DynamicProvider(provider_name="Genero",elements=["M","F"])
tipo_area = DynamicProvider(provider_name="Area",elements=["Areas Verdes","Calles y Aceras","Oficinas"])

fake.add_provider(hora_trabajo)
fake.add_provider(tipo_sexo)
fake.add_provider(tipo_area)
#print(fake.Tiempo_trabajo())

In [18]:
def get_performance(edad, area, horario):
  edades = [
      [18, 30, 100],
      [31, 45, 95],
      [46, 55, 85],
      [56, 99, 60],
  ]
  # "Dia": [07:00, 14:30],
  # "Tarde": [14:30, 22:00],
  # "Noche": [22:00, 07:00],

  areas = {
      "Areas Verdes": {
          "Dia": [400, 600],
          "Tarde": [300, 400],
          "Noche": [400, 600],
      },
      "Calles y Aceras": {
          "Dia": [400, 600],
          "Tarde": [200, 300],
          "Noche": [600, 800],
      },
      "Oficinas": {
          "Dia": [200, 400],
          "Tarde": [200, 400],
          "Noche": [600, 800],
      },
  }

  porcent = None
  for r in edades:
    if r[0] <= edad and edad <= r[1]:
      porcent =r[2]
      break
  
  rang = areas[area][horario]
  performance_100 = np.random.randint(rang[0],rang[1])

  
  return int(performance_100 * (porcent /100))
  



def data_falsa(numeroRegistro):
  response = []
  for _ in range(numeroRegistro):
    edad = np.random.randint(18,65)
    area = fake.Area()
    horario = fake.Tiempo_trabajo()
    performance = get_performance(edad, area, horario)
    response.append(
      [fake.name(), fake.Genero(), edad, area, horario, performance]
    )
  return response

In [21]:



data = data_falsa(300000) #modificar para aumentar o reducir cantidad de registros
df = pd.DataFrame(np.array(data),columns=['nombre','sexo','edad','area','horario', 'performance'])

In [20]:
df

                   nombre sexo edad             area horario performance
0           Carlos Jordan    M   51         Oficinas   Tarde         265
1               Gail Wood    F   33     Areas Verdes     Dia         400
2          Shelly Camacho    F   51         Oficinas   Tarde         251
3          Dennis Burnett    F   50  Calles y Aceras   Tarde         246
4     Johnathan Rodriguez    M   40         Oficinas   Tarde         204
...                   ...  ...  ...              ...     ...         ...
2995         Michael Wade    F   58         Oficinas   Tarde         197
2996         April Garcia    M   22         Oficinas   Noche         702
2997       Sarah Marshall    M   31         Oficinas     Dia         329
2998         Jessica Hill    M   45  Calles y Aceras   Tarde         190
2999          James Davis    F   53     Areas Verdes   Tarde         259

[3000 rows x 6 columns]

In [22]:
df.to_csv('/content/sample_data/personal.csv')